# Server Configuration
PORT=5001

# MongoDB Connection String
# Replace with your MongoDB Atlas URI
MONGO_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/dialysis-db?retryWrites=true&w=majority